<div *ngIf="mostrarPreguntas">
  <h2>Pregunta {{ preguntaActual + 1 }}</h2>
  <p>{{ preguntasSeleccionadas[preguntaActual].pregunta }}</p>
  <div *ngFor="let opcion of preguntasSeleccionadas[preguntaActual].opciones; let i = index">
    <input type="checkbox" name="pregunta{{ i }}" [value]="opcion" [checked]="respuestasSeleccionadas[preguntaActual].includes(opcion)" (change)="seleccionarRespuesta(opcion)">
    <label>{{ opcion }}</label>
  </div>
  <p *ngIf="mostrarRespuestaIncorrecta && respuestasSeleccionadas[preguntaActual].length > 0" class="aviso">Respuesta incorrecta. ¡Inténtalo de nuevo!</p>
  <button (click)="siguientePregunta()" [disabled]="mostrarRespuestaIncorrecta || respuestasSeleccionadas[preguntaActual].length === 0">Siguiente</button>
</div>



<div *ngIf="!mostrarPreguntas || preguntasCompletadas">
  <div *ngIf="!mostrarGracias">
    <h3>¡Has terminado las preguntas!</h3>
    <p>Gracias por participar.</p>
    <p>¿Quieres volver a hacer el examen?</p>
    <button (click)="reiniciarPrueba()">Sí</button>
    <button (click)="mostrarGracias = true">No</button>
  </div>
  <div *ngIf="mostrarGracias" class="agradecimiento">
    <p>Muchas gracias.</p>
  </div>
</div>