<div *ngIf="mostrarPreguntas">
  <h2>Pregunta {{ preguntaActual + 1 }}</h2>
  <p>{{ preguntasSeleccionadas && preguntasSeleccionadas[preguntaActual]?.pregunta }}</p>
  <div *ngFor="let opcion of (preguntasSeleccionadas && preguntasSeleccionadas[preguntaActual]?.opciones) || []; let i = index">
    <input type="checkbox" name="pregunta{{ i }}" [value]="opcion"
           [checked]="(respuestasSeleccionadas && respuestasSeleccionadas[preguntaActual]?.includes(opcion)) || false"
           (change)="seleccionarRespuesta(opcion)">
    <label>{{ opcion.substring(1) }}</label>
  </div>
  <button (click)="siguientePregunta()"
  [disabled]="mostrarRespuestaIncorrecta || !verificarRespuestas(preguntasSeleccionadas[preguntaActual])">
    Siguiente
  </button>
  <p *ngIf="mostrarRespuestaIncorrecta && (respuestasSeleccionadas && respuestasSeleccionadas[preguntaActual]?.length || 0) > 0" class="aviso">
    Respuesta incorrecta. ¡Inténtalo de nuevo!
  </p>
</div>

<div *ngIf="preguntasCompletadas">
  <h2>¡Has completado la prueba!</h2>
  <button (click)="reiniciarPrueba()">Volver a empezar</button>
</div>

<div *ngIf="mostrarGracias">
  <h2>¡Gracias por completar la prueba!</h2>
  <button (click)="volverInicio()">Volver al inicio</button>
</div>
